.menu {
  position: relative;
  width: 10rem;
  height: 20rem;
  z-index: 10;
  background-color: deepskyblue;
  opacity: 1;
}

.open {
  animation: 0.4s linear 0s alternate menu-fadein;
}

.close {
  animation: 0.4s linear 0s alternate menu-fadeout;
}

@keyframes menu-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*
@keyframes menu-open {
  from {
    transform: translateX(-20rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20rem);
  }
}
*/